.bs-header
  .container
    h1 Partial 2 (Contact)

    hr

    form(ng-submit='send()')
      fieldset

        .form-group
          label(for='name') Name
          input#name.form-control(type='text', 
          												placeholder='Enter your name',
          												ng-model='contact.name')

        .form-group
          label(for='email') Email address
          input#email.form-control(type='text', 
          													placeholder='Enter email',
          													ng-model='contact.email')

        .form-group
          label(for='message') Message
          textarea#message.form-control(rows='3',
          															ng-model='contact.message')

        .checkbox
          label
            input(type='checkbox',
            			ng-model='contact.confirmed')
            | Confirm message
        
        br

        button.btn.btn-default(type='submit') Send your message